In [57]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as snb

In [58]:
file_path = "./sentimental_analyis/twitter_training.csv"

In [59]:
dataset = pd.read_csv(file_path)

In [60]:
dataset.head()

,2401,Borderlands,Positive,"im getting on borderlands and i will murder you all ,"
0,2401,Borderlands,Positive,I am coming to the borders and I will kill you...
1,2401,Borderlands,Positive,im getting on borderlands and i will kill you ...
2,2401,Borderlands,Positive,im coming on borderlands and i will murder you...
3,2401,Borderlands,Positive,im getting on borderlands 2 and i will murder ...
4,2401,Borderlands,Positive,im getting into borderlands and i can murder y...

In [61]:
column_names = ['Tweet ID', 'Entity', 'Sentiment', 'Tweet Content']
dataset.columns = column_names

In [62]:
dataset.head()

,Tweet ID,Entity,Sentiment,Tweet Content
0,2401,Borderlands,Positive,I am coming to the borders and I will kill you...
1,2401,Borderlands,Positive,im getting on borderlands and i will kill you ...
2,2401,Borderlands,Positive,im coming on borderlands and i will murder you...
3,2401,Borderlands,Positive,im getting on borderlands 2 and i will murder ...
4,2401,Borderlands,Positive,im getting into borderlands and i can murder y...

In [63]:
dataset.drop(columns=['Tweet ID', 'Entity'], inplace=True)

In [64]:
dataset.head()

  Sentiment                                      Tweet Content
0  Positive  I am coming to the borders and I will kill you...
1  Positive  im getting on borderlands and i will kill you ...
2  Positive  im coming on borderlands and i will murder you...
3  Positive  im getting on borderlands 2 and i will murder ...
4  Positive  im getting into borderlands and i can murder y...

In [65]:
dataset.isna().sum()

Sentiment          0
Tweet Content    686
dtype: int64

In [66]:
dataset.fillna('', inplace=True)

In [67]:
dataset.isna().sum()

Sentiment        0
Tweet Content    0
dtype: int64

In [68]:
dataset['Sentiment'].unique()

array(['Positive', 'Neutral', 'Negative', 'Irrelevant'], dtype=object)

In [69]:
dataset['Sentiment'] = dataset['Sentiment'].map({'Negative': 0, 'Positive': 1, 'Neutral': 2, 'Irrelevant': 3})

In [70]:
dataset['Sentiment'].unique()

array([1, 2, 0, 3], dtype=int64)

In [71]:
x = dataset["Tweet Content"]
y = dataset["Sentiment"]

In [72]:
corpus = []

In [76]:
from nltk.corpus import stopwords
from nltk.stem.snowball import SnowballStemmer
import re

In [ ]:
ss = SnowballStemmer(language="english")
for i in range(0, len(dataset)):
    # Replace all non Alphabets and non numerics, substitute with space in particular place 
    message = re.sub(r'\W', ' ', dataset["Tweet Content"][i])
    message = message.lower()
    message = message.split()
    message = [ss.stem(word) for word in message if not word in set(stopwords.words("english"))]
    message = " ".join(message)
    corpus.append(message)

In [53]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()
x = cv.fit_transform(corpus).toarray()
y = dataset.iloc[:, 0].values

In [ ]:
x.shape, y.shape

In [55]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

((74681, 31062), (74681,))